.todo-container {
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    padding: 8px 24px;
    width: 50%;
}

.todo-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.todo-header__heading {
    color: white;
    font-size: 27px;
    vertical-align: middle;
}

.todo-header__icon {
    vertical-align: middle;
}

.todo-input {
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px 8px;
    vertical-align: middle;
}

.todo-input.todo-input-dark {
    background-color: $very-dark-desaturated-blue;
}

.todo-input.todo-input-light {
    background-color: $very-light-grayish;
}

.todo-input {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.37), 0 20px 20px 0 rgba(0, 0, 0, 0.308);;
}

.todo-list__action {
    background-color: $very-dark-desaturated-blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.37), 0 20px 20px 0 rgba(0, 0, 0, 0.308);
    color: $light-grayish-blue;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.todo-list__action.todo-list-action-dark {
    background-color: $very-dark-desaturated-blue;
    color: $light-grayish-blue;
}

.todo-list__action.todo-list-action-light {
    background-color: $very-light-gray;
    color: $dark-grayish-blue;
}

.todo-list__action div {
    display: inline-block;
    font-size: 13px;
}

.todo-list__action__info {
    font-size: 10px;
}

@media (max-width: $desktop-breakpoint) {
    .todo-container {
        width: 90%;
    }

    .todo-list__action {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        justify-content: space-around;
        margin-top: 40px;
    }

    .todo-list__action div:first-child {
        display: none;
    }

    .todo-list__action div:last-child {
        display: none;
    }
}