.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: $dark-grayish-blue;
    cursor: pointer;
    font-size: 10px;
    overflow: hidden;
    outline: none;
    margin: 0 3px;
}

.button:hover {
    color: $very-light-gray;
}

.button.todo-action-button-dark:hover {
    color: $very-light-gray;
}

.button.todo-action-button-light:hover {
    color: $very-dark-desaturated-blue;
}