.todo-list-item {
    align-items: center;
    border-bottom: 1px solid $dark-grayish-blue;
    display: flex;
    height: 52px;
    position: relative;
}

.todo-list-item:last-child {
    border-bottom: none;
}

.todo-list-item__label {
    color: $light-grayish-blue;
    overflow: auto;
    padding: 4px 0;
    word-wrap: break-word;
    width: 80%;
}

.todo-list-item__label.todo-list-item-dark {
    color: $light-grayish-blue;
}

.todo-list-item__label.todo-list-item-light {
    color: $very-dark-desaturated-blue;
}

.todo-list-item__checkbox {
    border: 1px solid $light-grayish-blue;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    margin-left: 18px;
    margin-right: 18px;
    text-align: center;
    width: 14px;
}

.todo-list-item__checkbox.todo-list-item-dark {
    border: 1px solid $light-grayish-blue;
}

.todo-list-item__checkbox.todo-list-item-light {
    border: 1px solid $very-dark-desaturated-blue;
}

.checkbox-selected {
    background-image: linear-gradient(to right bottom, red, blue);
}

.label-selected {
    text-decoration: line-through;
}

.todo-list-item__label.todo-list-item-dark.label-selected {
    color: $very-light-grayish;
    opacity: 0.5;
}

.todo-list-item__label.todo-list-item-light.label-selected {
    color: $very-dark-desaturated-blue;
    opacity: 0.5;
}

.todo-list-item__checkbox svg {
    padding-top: 3px;
    padding-right: 0.5px;
}

@media (max-width: $desktop-breakpoint) {
    .todo-list-item__label {
        width: 75%;
    }
}