.app-background {
    background-color: $very-dark-blue;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -100;
}

.app-background.app-background-color-dark {
    background-color: $very-dark-blue;
}

.app-background.app-background-color-light {
    background-color: $very-light-gray;
}

.app-background-picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    position: fixed;
    width: 100%;
    z-index: -50;
}

.app-background-picture.app-background-image-dark {
    background-image: url('../_style/_assets/bg-desktop-dark.jpg');
}

.app-background-picture.app-background-image-light {
    background-image: url('../_style/_assets/bg-desktop-light.jpg');
}

@media (max-width: $desktop-breakpoint) {
    .app-background-picture.app-background-image-dark {
        background-image: url('../_style/_assets/bg-mobile-dark.jpg');
    }
    
    .app-background-picture.app-background-image-light {
        background-image: url('../_style/_assets/bg-mobile-light.jpg');
    }
}