.todo-input-textbox {
    background-color: $very-dark-desaturated-blue;
    color: $light-grayish-blue;
    cursor: pointer;
    border-width: 0;
    height: 35px;
    outline: $very-dark-desaturated-blue;
    width: 100%;
}